body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-home {
  display: flex;
  justify-content: space-between;
}

.div-category {
  display: flex;
  flex-flow: column;
}

.div-input {
  border: 1px solid #000;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.input-search {
  height: 1rem;
}
